div.toolbox {
    float: left;
}
#controls {
    width: 300px;
    padding: 0 25px;
}
#nodeBoard, #linkBoard {
    width: 300px;
    padding: 25px;
}
#tasksBoard {
    width: 300px;
    height: 200px;
    border: 1px black solid;
}
#nodeBoard div, #linkBoard div {
    margin: 15px 0;
}
label[for=nodeBoard], label[for=linkBoard] {
    margin-left: 75px;
    text-decoration: underline;
}
#nodeBoard input, #nodeBoard textarea, #linkBoard input, #linkBoard textarea {
    padding: 3px 5px;
    width: 150px;
}
#nodeBoard textarea, #linkBoard textarea {
    width: 290px;
    height: 200px;
}
#controls button, #taskControls button, #libraryOperators button {
    margin: 10px 20px;
    height: 25px;
    width: 100px;
}
#nodeBoard #tasksBoard {
    margin-bottom: 10px;
}
#nodeBoard #taskControls {
    margin-top: 10px;
}
#nodeBoard #libraryOperators {
    margin-top: 10px;
}

#board {
    float: right;
    width: 900px;
    height: 600px;
}
br.clear {
    clear:both;
}

.node .rect {
    stroke: black;
    fill: white;
    stroke-width: 1.5px;
}
.node.circle .rect {
    stroke: none;
    fill: none;
}
.node.selected .rect {
    stroke: #2196F3;
}
.node.selected.circle .rect {
    stroke: none;
}

.ellipse {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}
.node.circle .ellipse {
    fill: white;
    stroke-width: 1.5px;
}
.node.selected.circle .ellipse {
    stroke: #2196F3;
}

.link {
    stroke: black;
    stroke-width: 1.5px;
}

.link.dashed {
    stroke-dasharray: 0,2 1;
}

.link.selected {
    stroke: #2196F3;
}

.hide {
    display: none;
}

text.nodetext {
    font-size: 12px;
}

button#addlink.active {
    border-color: #2196F3;
}